.header {
    position: relative;
    height: 250px;
    overflow: hidden;
    position: relative;
}

.header::after { /* degradê embaixo */
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;

    background: linear-gradient(transparent, #000000cc);
}

.header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 20%;

    position: sticky;
    top: 0;
    transition: opacity .3s;
}

.header h1 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 2;

    font-size: 4em;
    text-shadow: 0 4px 20px black;
}

.header p {
    position: absolute;
    bottom: 10px;
    left: 20px;
    z-index: 2;

    text-shadow: 0 4px 20px black;
}

.titulo {
    font-size: 1.5em;
    padding-left: 10px;
}

/* tela média */
@media (min-width: 800px) {
    .header {
        height: 300px;
    }

    .header img {
        object-position: center 20%;
    }
}

/* tela grande */
@media (min-width: 1000px) {
    .header {
        height: 350px;
    }

    .header img {
        object-position: center 25%;
    }

    .header h1 {
        font-size: 6em;
    }
}