.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 80px;
}

.outlet {
    background-color: #4f4e4d;
    flex: 1;
    overflow-y: auto;
}