.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    flex: 1;
    min-height: 0;
}

.sidebar {
    width: 80px;
}

.outlet {
    background-color: #121212;
    flex: 1;
    overflow-y: auto;
    min-height: 0;
    margin-left: 10px;
    border-radius: 10px;
    padding: 20px;
}