.header {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    padding: 20px;
}

.capa {
    width: clamp(150px, 15vw, 220px);
    height: clamp(150px, 15vw, 220px);
    border-radius: 5px;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.subtitulo, 
.titulo, 
.descricao {
    margin: 2px;
}

.titulo {
    font-size: clamp(24px, 4vw, 48px);
}

.artista {
    display: flex;
    gap: 3px;
    margin-top: 5px;
}

.imgArtista {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.descricao, .dados {
    font-weight: bold;
    font-size: clamp(12px, 1.5vw, 16px);
}

.descricao:hover {
    text-decoration: underline;
    cursor: pointer;
}

.dados {
    color: #d6cdcd;
    font-weight: 500;
    margin-top: 2px;
}

.btns {
    display: flex;
    gap: 15px;
    padding: 10px;
}

.btns svg {
    font-size: 1.3em;
    font-weight: 100;
}

.play {
    background-color: #3AE176;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.play svg {
    fill: black;
    padding-left: 5px;
    padding-top: 4px;
    font-size: 1.5em;
}

.play:hover, .play svg:hover {
    background-color: #40f783;
}

.random {
    height: 30px;
    margin-top: 10px;
}

.random svg {
    fill: #8b8686;
    padding-top: 3px;
    font-size: 2em;
    cursor: pointer;
}

.random:not(.ativo):hover svg {
    fill: #d6cdcd;
}

.ativo svg {
    fill: #3AE176;
}

.circle {
    width: 30px;
    height: 30px;
    border: 3px solid #8b8686;
    border-radius: 50%;
    margin-top: 10px;
}

.circle svg {
    padding: 5px;
    font-size: 1.2em;
    fill: #8b8686;
    cursor: pointer;
}

.circle:hover, .circle:hover svg {
    border-color: #d6cdcd;
    fill: #d6cdcd;
}

.barra {
    display: grid;
    grid-template-columns: 35px 1fr 100px;
    align-items: center;
    padding-left: 25px;
    padding-bottom: 5px;
    border-bottom: 1px solid #b3b3b351;
}

.barra span {
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 500;
}

.barra svg {
    font-size: 1.2em;
}