.header {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    padding: 20px;
}

.capa {
    width: clamp(150px, 15vw, 220px);
    height: clamp(150px, 15vw, 220px);
    border-radius: 5px;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.subtitulo, 
.titulo, 
.descricao {
    margin: 2px;
}

.titulo {
    font-size: clamp(24px, 4vw, 48px);
}

.artista {
    display: flex;
    gap: 3px;
    margin-top: 5px;
}

.imgArtista {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.descricao, .dados {
    font-weight: bold;
    font-size: clamp(12px, 1.5vw, 16px);
}

.descricao:hover {
    text-decoration: underline;
    cursor: pointer;
}

.dados {
    color: #d6cdcd;
    font-weight: 500;
    margin-top: 2px;
}

.barra {
    display: grid;
    grid-template-columns: 40px 1fr 60px;
    align-items: center;
    padding-left: 25px;
    padding-bottom: 5px;
    border-bottom: 1px solid #b3b3b351;
}

.barra span {
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 500;
}

.barra svg {
    font-size: 1.2em;
}

/* CUSTOMCLASS */
.playlist {
    display: none;
}