.header {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    padding: 20px;
}

.capa {
    width: clamp(150px, 15vw, 220px);
    height: clamp(150px, 15vw, 220px);
    border-radius: 5px;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.subtitulo, 
.titulo, 
.descricao {
    margin: 2px;
}

.titulo {
    font-size: clamp(24px, 4vw, 48px);
}

.descricao {
    font-weight: bold;
    font-size: clamp(12px, 1.5vw, 16px);
}

.descricao:hover {
    text-decoration: underline;
    cursor: pointer;
}