.mscs {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 50px;
    position: relative; /* pro play */
}

.mscs:hover {
    background-color: #93929223;
}

.mscs:hover .num {
    opacity: 0;
}

.mscs:hover .play {
    opacity: 1;
}

.mscs:hover p {
    color: #ffffff;
}

.num {
    width: 30px;
    text-align: right;
    font-size: 1.1em;
    color: #b3b3b3;
    transition: opacity .2s;
}

.play {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    position: absolute;
}

.play svg {
    padding-left: 20px;
}

.info h2, .info p {
    margin: 0;
}

.info h2 {
    font-size: 1em;
    font-weight: 500;
}

.info p {
    width: fit-content;
    font-size: .8em;
    font-weight: bold;
    color: #b3b3b3;
    cursor: pointer;
}

.info p:hover {
    text-decoration: underline;
}

/* VER MAIS / VER MENOS */
.btn {
    background-color: transparent;
    border: none;
    font-weight: bolder;
    color: #b3b3b3;
    width: 100px;
}

.btn:hover {
    color: white;
}

/* CUSTOMCLASS */
.listaArtista p {
    display: none;
}

.listaPlaylist p {
    display: block;
}