.sidebar {
    background-color: #121212;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.biblioteca {
    background-color: #121212;
    cursor: pointer;
}

.biblioteca svg {
    background-color: #121212;
    font-size: 1.4em;
}

.add {
    border-radius: 50%;
    font-size: 1em;
    padding: 10px;
    background-color: #29292983;
    cursor: pointer;
}

.add svg {
    background-color: #29292913;
}

.add:hover {
    background-color: #45454553;
}

.sidebar svg {
    background-color: #292929;
    fill: #bcb2b2;
}

.sidebar svg:hover {
    cursor: pointer;
    fill: #faf7f7f3;
}